@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: 'futura medium';
  src: url('./fonts/futura\ medium/Futura Medium.otf');
}

body {
  font: 16px "futura medium", sans-serif;
  margin: 20px;
}

h1 {
  font-size: 1.5em;
}