@import-normalize;


ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@font-face {
  font-family: 'futura medium';
  src: url('./fonts/futura\ medium/Futura Medium.otf');
}

body {
  background-color: #181819;
  font: 16px "futura medium", sans-serif;
  margin: 20px;
}

h1 {
  font-size: 1.5em;
}
