@import-normalize;


ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@font-face {
  font-family: 'futura medium';
  src: url('./fonts/futura\ medium/Futura Medium.otf');
}

body {
  background-color: #181819;
  font: 16px "futura medium", sans-serif;
  margin: 20px;
}

h1 {
  font-size: 1.5em;
}

.styled-figure {
  background: rgba(77, 75, 84, 0.3);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 2px solid #28282A;
  width: 100%;
  height: 260px;
}
